In [875]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [877]:
data_to_split = pd.read_csv('train_val_metadata.csv')

In [879]:
number_of_folds = 5
folds = []

In [881]:
len(data_to_split)

5565

In [883]:
data_to_split.columns.values.tolist()

['patient id',
 'source',
 'country',
 'sex',
 'age',
 'finding',
 'verified finding',
 'slice selection',
 'view',
 'modality']

In [885]:
training_arr = []
val_arr = []
already_sampled = pd.DataFrame(columns=data_to_split.columns.values.tolist())

for i in range(0,number_of_folds):
    
    training_set = pd.DataFrame(columns=data_to_split.columns.values.tolist())
    val_set = pd.DataFrame(columns=data_to_split.columns.values.tolist())

    training_set = data_to_split
    
    for j in range(0,int(len(data_to_split)/number_of_folds)):
        sample = data_to_split.sample(n=1)
        if sample['patient id'].isin(already_sampled['patient id']).values[0]:
            continue
        else:
            val_set = pd.concat([val_set,sample])
            already_sampled = pd.concat([already_sampled,sample])
            cond = data_to_split['patient id'].isin(sample['patient id'])
            training_set.drop(training_set[cond].index, inplace = True)
     
    val_arr.append(val_set)
    training_arr.append(training_set)

C:\Users\istva\AppData\Local\Temp\ipykernel_33236\721742494.py:17: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  val_set = pd.concat([val_set,sample])
C:\Users\istva\AppData\Local\Temp\ipykernel_33236\721742494.py:18: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  already_sampled = pd.concat([already_sampled,sample])
C:\Users\istva\AppData\Local\Temp\ipykernel_33236\721742494.py:17: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  val_set = pd.concat([val_set,sample])
C:\Users\istva\AppData\Local\Temp\ipykernel_33236\721742494.py:17: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  val_set = pd.concat([val_set,sample])
C:\Users\istva\AppData\Local\Temp\ipykernel_33236\721742494.py:17: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  val_set = pd.concat([val_set,sample])
C:\Users\istva\AppData\Local\Temp\ipykernel_33236\721742494.py:17: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  val_set = pd.concat([val_set,sample])

In [889]:
len(data_to_split) - len(already_sampled)

-1917

In [861]:
val_arr[4]

,patient id,source,country,sex,age,finding,verified finding,slice selection,view,modality
2488,volume-covid19-A-0507,TCIA,NaN,NaN,NaN,COVID-19,Yes,Non-expert,Axial,CT
1227,NCP_511,CNCB,China,NaN,NaN,COVID-19,Yes,Automatic,Axial,CT
687,CP_715,CNCB,China,NaN,NaN,Pneumonia,Yes,Expert,Axial,CT
4273,STOIC-1868,STOIC,France,M,75.0,COVID-19,Yes,Automatic,Axial,CT
3402,HUST-Patient1054,iCTCF,China,F,41.0,COVID-19,Yes,Automatic,Axial,CT
...,...,...,...,...,...,...,...,...,...,...
3555,HUST-Patient1300,iCTCF,China,F,57.0,COVID-19,Yes,Automatic,Axial,CT
4269,STOIC-1838,STOIC,France,M,65.0,COVID-19,Yes,Automatic,Axial,CT
890,NCP_250,CNCB,China,NaN,NaN,COVID-19,Yes,Expert,Axial,CT
4651,STOIC-4910,STOIC,France,F,45.0,COVID-19,Yes,Automatic,Axial,CT
899,NCP_259,CNCB,China,NaN,NaN,COVID-19,Yes,Automatic,Axial,CT

In [873]:
training_arr[3]

,patient id,source,country,sex,age,finding,verified finding,slice selection,view,modality
6,CP_1076,CNCB,China,NaN,NaN,Pneumonia,Yes,Expert,Axial,CT
11,CP_1087,CNCB,China,NaN,NaN,Pneumonia,Yes,Automatic,Axial,CT
12,CP_1088,CNCB,China,NaN,NaN,Pneumonia,Yes,Expert,Axial,CT
13,CP_1092,CNCB,China,NaN,NaN,Pneumonia,Yes,Expert,Axial,CT
17,CP_1098,CNCB,China,NaN,NaN,Pneumonia,Yes,Expert,Axial,CT
...,...,...,...,...,...,...,...,...,...,...
5550,COVIDCTMD-normal050,COVID-CT-MD,Iran,M,29.0,Normal,Yes,NaN,Axial,CT
5557,COVIDCTMD-normal066,COVID-CT-MD,Iran,M,30.0,Normal,Yes,NaN,Axial,CT
5559,COVIDCTMD-normal070,COVID-CT-MD,Iran,M,60.0,Normal,Yes,NaN,Axial,CT
5562,COVIDCTMD-normal073,COVID-CT-MD,Iran,M,39.0,Normal,Yes,NaN,Axial,CT
5564,COVIDCTMD-normal076,COVID-CT-MD,Iran,M,30.0,Normal,Yes,NaN,Axial,CT

In [785]:
len(training_arr[0]) + len(val_arr[0])

5565

In [169]:
print(training_set)

None

In [165]:
already_sampled

,patient id,source,country,sex,age,finding,verified finding,slice selection,view,modality
1144,NCP_422,CNCB,China,NaN,NaN,COVID-19,Yes,Expert,Axial,CT
991,NCP_302,CNCB,China,NaN,NaN,COVID-19,Yes,Expert,Axial,CT
575,CP_3938,CNCB,China,NaN,NaN,Pneumonia,Yes,Expert,Axial,CT
2347,volume-covid19-A-0287_0,TCIA,NaN,NaN,NaN,COVID-19,Yes,Non-expert,Axial,CT
309,CP_1577,CNCB,China,NaN,NaN,Pneumonia,Yes,Expert,Axial,CT
...,...,...,...,...,...,...,...,...,...,...
4356,STOIC-2429,STOIC,France,M,65.0,COVID-19,Yes,Automatic,Axial,CT
2525,volume-covid19-A-0563,TCIA,NaN,NaN,NaN,COVID-19,Yes,Automatic,Axial,CT
2139,radiopaedia-76015,radiopaedia.org,Azerbaijan,M,65.0,COVID-19,Yes,Non-expert,Axial,CT
353,CP_1627,CNCB,China,NaN,NaN,Pneumonia,Yes,Expert,Axial,CT
3468,HUST-Patient1207,iCTCF,China,F,68.0,COVID-19,Yes,Automatic,Axial,CT

In [145]:
val_set

,patient id,source,country,sex,age,finding,verified finding,slice selection,view,modality
2858,study_0541,MosMedData,Russia,NaN,NaN,COVID-19,No,Automatic,Axial,CT
5482,COVIDCTMD-cap002,COVID-CT-MD,Iran,F,77.0,Pneumonia,Yes,Expert,Axial,CT
1102,NCP_3973,CNCB,China,NaN,NaN,COVID-19,Yes,Automatic,Axial,CT
4785,STOIC-5992,STOIC,France,M,85.0,COVID-19,Yes,Automatic,Axial,CT
1384,Normal_1701,CNCB,China,NaN,NaN,Normal,Yes,NaN,Axial,CT
...,...,...,...,...,...,...,...,...,...,...
1811,patient197,COVID-CTset,Iran,M,38.0,Normal,Yes,NaN,Axial,CT
1998,patient43,COVID-CTset,Iran,F,49.0,COVID-19,Yes,Expert,Axial,CT
4322,STOIC-2178,STOIC,France,F,75.0,COVID-19,Yes,Automatic,Axial,CT
3356,study_1101,MosMedData,Russia,NaN,NaN,COVID-19,No,Automatic,Axial,CT
4011,HUST-Patient843,iCTCF,China,M,60.0,COVID-19,Yes,Automatic,Axial,CT

In [ ]:
    if sample['patient id'].isin(already_sampled[0]['patient id'])
        continue
    else:
        val_set.append(sample)
        already_sampled.append(sample)
        cond = sample['patient id'].isin(already_sampled[0]['patient id'])
        data_to_split.drop(data_to_split[cond].index, inplace = True)
    
    training_set.append(data_to_split2)
    folds.append([training_set,val_set])

In [300]:
val_set = pd.DataFrame(columns=data_to_split.columns.values.tolist())

In [314]:
sample = data_to_split.sample(n=1)
sample.iloc[:]

,patient id,source,country,sex,age,finding,verified finding,slice selection,view,modality
4934,STOIC-7169,STOIC,France,F,45.0,COVID-19,Yes,Automatic,Axial,CT

In [322]:
training_set = []
val_set = pd.DataFrame(columns=data_to_split.columns.values.tolist())
already_sampled = []

for j in range(int(len(data_to_split)/number_of_folds)):
    sample = data_to_split.sample(n=1)
    val_set = pd.concat([val_set, sample[sample['patient id'] == 0]])
#    if sample['patient id'].isin(already_sampled[0]['patient id'])
#        continue
#    else:
#        val_set[1].append(sample)
#        already_sampled.append(sample)
#        cond = sample['patient id'].isin(already_sampled[0]['patient id'])
#        data_to_split.drop(data_to_split[cond].index, inplace = True)

In [144]:
data_to_split2['patient id'].isna().sum()

0

In [130]:
data_to_split2['patient id'].isin(val_set)

0       False
1       False
2       False
3       False
4       False
        ...
5560    False
5561    False
5562    False
5563    False
5564    False
Name: patient id, Length: 5565, dtype: bool

In [120]:
val_set

[            patient id       source country  sex   age    finding  \
 1839        patient224  COVID-CTset    Iran    M  36.0     Normal
 518            CP_3780         CNCB   China  NaN   NaN  Pneumonia
 846            NCP_205         CNCB   China  NaN   NaN   COVID-19
 5222        STOIC-9733        STOIC  France    M  55.0   COVID-19
 4916         STOIC-701        STOIC  France    M  65.0   COVID-19
 ...                ...          ...     ...  ...   ...        ...
 5488  COVIDCTMD-cap013  COVID-CT-MD    Iran    M  55.0  Pneumonia
 4911        STOIC-6986        STOIC  France    F  75.0   COVID-19
 363            CP_1641         CNCB   China  NaN   NaN  Pneumonia
 3170        study_0910   MosMedData  Russia  NaN   NaN   COVID-19
 1199           NCP_482         CNCB   China    F  42.0   COVID-19

      verified finding slice selection   view modality
 1839              Yes             NaN  Axial       CT
 518               Yes          Expert  Axial       CT
 846               Yes          Expert  Axial       CT
 5222              Yes       Automatic  Axial       CT
 4916              Yes       Automatic  Axial       CT
 ...               ...             ...    ...      ...
 5488              Yes          Expert  Axial       CT
 4911              Yes       Automatic  Axial       CT
 363               Yes          Expert  Axial       CT
 3170               No       Automatic  Axial       CT
 1199              Yes       Automatic  Axial       CT

 [1113 rows x 10 columns]]

In [ ]:
    #train_set, val_set = train_test_split(data_to_split,random_state=None,test_size=0.2)
    while(len(val_set) != int(len(data_to_split)/5)):
        sample = data_to_split.sample()
        val_set.append(sample)
        already_sampled.append(sample)

In [44]:
val_set = []
val_set.append(data_to_split.sample(n=int(len(data_to_split)/number_of_folds)))

In [56]:
len(val_set[0])

1113

In [8]:
from sklearn.model_selection import KFold

In [10]:
kf = KFold(n_splits=5, shuffle=True, random_state=11)

In [12]:
for i, (train_index, val_index) in enumerate(kf.split(data_to_split)):
    split = []
    split.append(data_to_split.iloc[train_index])
    split.append(data_to_split.iloc[val_index])
    folds.append(split)

In [14]:
folds[1][0]['finding'].value_counts(normalize=True)

finding
COVID-19     0.772013
Pneumonia    0.140162
Normal       0.087826
Name: proportion, dtype: float64

In [16]:
type(folds[0][0])

pandas.core.frame.DataFrame

In [18]:
from pandas.testing import assert_frame_equal

In [34]:
print(folds[0][1]['patient id'].reset_index(drop=True) == folds[1][1]['patient id'].reset_index(drop=True))

0       False
1       False
2       False
3       False
4       False
        ...
1108    False
1109    False
1110    False
1111    False
1112    False
Name: patient id, Length: 1113, dtype: bool